.player-wrapper
  audio#player()
  #play.btn-play Play
  .progress-wrapper.ml-4
    .d-flex.justify-content-between.align-items-center
      .title &mdash;
      .time-display.small.text-muted --:-- (--:--)
    .progress-bard
      .so-far