.player-wrapper
  audio#player()
  #play.btn-play Play
  .progress-wrapper.ml-4
    .d-flex.justify-content-between.align-items-center
      .title &mdash;
      .time-display.small.text-muted --:-- (--:--)
    .progress-bard
      .so-far
  .speed-control.btn.btn-sm.btn-outline-secondary.ml-2(style="width: 50px;") 1×